@model IEnumerable<PIM_Dashboard.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <form asp-controller="Item" asp-action="Index" method="get">
        <p>
            Title: <input type="text" name="itemName" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-md-3">
                <div class="card-body">
                    <a asp-action="Details" asp-route-itemName="@item.ItemName">
                        <img src="@("~/Image/"+item.ResourceFileName)" asp-append-version="true" width="75px" height="75px" /><br />
                        @item.ItemName
                    </a>
                </div>
            </div>
        }
    </div>
</div>