@model IEnumerable<PIM_Dashboard.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<div class="container mb-5">
    <form asp-controller="Item" asp-action="Index" method="get">
        <div class="mt-5">
            <div>
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-3 mb-5 w-25">
                <div class="input-group p-1">
                    <input class="form-control border-0 bg-light" type="text" placeholder="Search.." name="itemName">
                    <button type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card-body">
                            <a class="text-decoration-none text-center text-black" asp-action="Details" asp-route-itemName="@item.ItemName">
                                <img class="rounded mx-auto d-block" src="@("~/Image/"+item.ResourceFileName)" asp-append-version="true" width="125px" height="125px"/><br /><br />
                                @item.ItemName
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
