@model PIM_Dashboard.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ProductLifecycleStatus"></label><br />
                <select asp-for="ProductLifecycleStatus" class="form-control w-50" name="ItemStatus">
                    <option value=@string.Empty selected>Select an option</option>
                    <option value="PreProduction">Pre-production</option>
                    <option value="PreSales">Pre-sales</option>
                    <option value="Active">Active</option>
                    <option value="PhaseOut">Phase-out</option>
                    <option value="Inactive">Inactive</option>
                    <option value="Approved">Approved</option>
                </select>
                <span asp-validation-for="ProductLifecycleStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductShortDescription" class="control-label"></label>
                <input asp-for="ProductShortDescription" class="form-control" />
                <span asp-validation-for="ProductShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLongDescription" class="control-label"></label>
                <input asp-for="ProductLongDescription" class="form-control" />
                <span asp-validation-for="ProductLongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductManager" class="control-label"></label>
                <input asp-for="ProductManager" class="form-control" />
                <span asp-validation-for="ProductManager" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ResourceImageFile" class="control-label"></label>
                <input asp-for="ResourceImageFile" accept="image/*" />
                <span asp-validation-for="ResourceImageFile" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductIndex" class="btn btn-secondary mt-3 ml-3">Back To Products</a>
</div>

