@model PIM_Dashboard.Models.Item

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group" hidden>
        <label asp-for="ItemPackageType" class="control-label"></label>
        <input asp-for="ItemPackageType" value="Truck" class="form-control" />
        <span asp-validation-for="ItemPackageType" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <label asp-for="ItemCreated" class="control-label"></label>
        <input asp-for="ItemCreated" value="@(DateTime.Now)" class="form-control" />
        <span asp-validation-for="ItemCreated" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ItemName" class="control-label"></label>
        <input asp-for="ItemName" class="form-control" />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ItemStatus"></label><br />
        <select asp-for="ItemStatus" class="form-control w-50" name="ItemStatus">
            <option value=@string.Empty selected>Select an option</option>
            <option value="New">New</option>
            <option value="EnrichmentOngoing">Enrichment Ongoing</option>
            <option value="EnrichmentComplete">Enrichment Complete</option>
            <option value="ReadyForEcom">Ready For Ecom</option>
            <option value="SentToEcom">Sent To Ecom</option>
            <option value="PublishedOnEcom">Published On Ecom</option>
            <option value="PublishOnEcomFailed">Publish On Ecom Failed</option>
            <option value="PhasedOut">Phased Out</option>
        </select>
        <span asp-validation-for="ItemStatus" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <span>Engine Type:   </span><br />
        <input asp-for="ItemEngineType" type="radio" value="Gasoline" />
        <label asp-for="ItemEngineType">Gasoline</label>
        <span>    </span>
        <input asp-for="ItemEngineType" type="radio" value="Diesel" />
        <label asp-for="ItemEngineType">Diesel</label>
        <span>    </span>
        <input asp-for="ItemEngineType" type="radio" value="Electric" />
        <label asp-for="ItemEngineType">Electric</label>
        <span asp-validation-for="ItemEngineType" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ItemServiceInterval" class="control-label"></label>
        <input asp-for="ItemServiceInterval" class="form-control w-25" />
        <span asp-validation-for="ItemServiceInterval" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <span>Force Send to Ecom: </span><br />
        <input asp-for="ItemForceSend" type="radio" value=@string.Empty />
        <label asp-for="ItemForceSend">Not Set</label>
        <span>  </span>
        <input asp-for="ItemForceSend" type="radio" value="True" />
        <label asp-for="ItemForceSend">True</label>
        <span>  </span>
        <input asp-for="ItemForceSend" type="radio" value="False" />
        <label asp-for="ItemForceSend">False</label>
        <span asp-validation-for="ItemForceSend" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ResourceImageFile" class="control-label"></label>
        <input asp-for="ResourceImageFile" accept="image/*" />
        <span asp-validation-for="ResourceImageFile" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>