@model IEnumerable<PIM_Dashboard.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Channel</h1>

<div class="container">
    <form asp-controller="Item" asp-action="Index" method="get">
        <div class="mt-5">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-3 mb-5">
                <div class="input-group p-1">
                    <input class="form-control border-0 bg-light" type="text" placeholder="Search.." name="itemName">
                    <button type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 mx-1 mb-2">
                        <div class="card card-body align-items-center">
                            <a class="text-decoration-none text-center text-black" asp-route-itemName="@item.ItemName">
                                <img class="rounded mx-auto d-block mt-3" src="@("~/Image/Item/"+item.ResourceFileName)" asp-append-version="true" width="175px" height="175px" />
                                @item.ItemName
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
